body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    text-transform: capitalize;
    font-size: 100px;
    font-weight: bold;
    background: linear-gradient(to bottom, red, orange);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}