* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.cam-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    background-image: linear-gradient(to bottom, #CCCCCC 25%, #607D8B 25%, #607D8B 75%, #CCCCCC 75%);
    border-radius: 20px;
}

.cam-lens {
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    background-image: radial-gradient(circle, #358FB6 33%, #3E3E3E 33%, #3E3E3E 50%, #CECECE 50%, #CECECE 60%, #EDEDED 60%);
    position: relative;
}

.dot {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #68B8DB;
    border-radius: 50%;
    left: 135px;
    top: 135px;
}

.flash {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;  
    background-color: #607D8B;    
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.flash::before {
    border-top-right-radius: 20px;
    content: "";
    position: absolute;
    background-color: #607D8B;
    height: 100px;
    width: 100px;
    left: 120px;
    top: 0px;
    transform: skewX(20deg);
    z-index: -1;
}

.flash::after {
    border-top-left-radius: 20px;
    content: "";
    position: absolute;
    background-color: #607D8B;
    height: 100px;
    width: 100px;
    left: -20px;
    top: 0px;
    transform: skewX(-20deg);
    z-index: -2;
}

.frec1 {
    background-color: #CECECE;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

.frec2 {
    position: absolute;
    background-color: #607D8B;
    height: 25px;
    width: 75px;
    border-radius: 5px;
}

.button-container {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 75px;
}

.button-house {
    background-color: #607D8B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 25px;
    width: 100px;
    z-index: 3;
}

.button {
    position: absolute;
    background-color: #E91E63;
    height: 5px;
    width: 65px;
    left: 17.5px;
    top: -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* For screens smaller than 768px (e.g., tablets and phones) */
@media screen and (max-width: 768px) {
    body {
        transform: scale(0.45); /* Scale content to 80% */
    }
}